[Desktop Entry]

Type=Service
ServiceTypes=KonqPopupMenu/Plugin

MimeType=all/all;
Actions=for_Blender;

#######################расположение нового действия в контекстном меню
#Размещает дейстивие в начале (будет доступно среди действий, доступных по правому клику
X-KDE-Priority=TopLevel
#Создание подменю
X-KDE-Submenu=Blender_Project




[Desktop Action for_Blender]

Exec=mkdir -p hjjjj/1122334455;
Name=Create_folders_for_Blender
Icon=document-send
